repos:
  - repo: https://github.com/ambv/black
    rev: stable
    hooks:
      - id: black
        args: [--skip-string-normalization]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.800
    hooks:
      - id: mypy
        args: [--disallow-untyped-defs, --ignore-missing-imports]
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: '11ef33bbdec6342f4f59063e2ab94e827410467c'
    hooks:
      - id: eslint
        files: \.jsx?$
        types: [file]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-docstring-first
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
